<div class="container main-container align-middle bg-light align-self-center">
  <div class="text-center">
    <h1 class="text-success"> Pay Your Amount <h1>
    <%= button_to "Activate", reactive_index_path,remote: true, class: "btn btn-warning" %>
  </div>
</div>
