<div class="container main-container align-middle bg-light align-self-center">
  <div class="text-center" >
    <h1 class="text-success"> Payement Succeeded <h1>
    <%= link_to 'Click here to Proceed' ,record_path(current_user), class: "btn btn-warning m-5" %>
  </div>
</div>
