<div class="container  main-container align-middle bg-light align-self-center">
  <h1> Your Payement record </h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"> User Name </td>
        <th scope="col"> Total Payement </td>
        <th scope="col"> Starting date </td>
        <th scope="col"> Ending date </td>
        <th scope="col"> Payement Type </td>
      </tr>
    </thead>
    <tbody>
          <%= render 'user_record' %>
    </tbody>
  </table>
</div>